.movieActors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.actors li {
  list-style-type: none;
}

.actors li:first-child {
  font-weight: bold;
}

.actors li:last-child {
  color: var(--additional-color);
  font-size: 0.6rem;
}
