@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(226, 226, 226);
}

#app {
  display: grid;
  grid-template-columns: 5% auto 5%;
}
